/* ALK Life */

@font-face {
  font-family: "ALK Life";
  src: url("/fonts/alk-life-webfont.woff2") format("woff2"),
    url("/fonts/alk-life-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
