@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ALK Life", sans-serif;
  background-image: url("/background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #f9b487;
  width: 500px;
  background-color: rgba(66, 122, 118, 0.3);
  padding: 30px;
  text-align: center;
  border-radius: 50%;
}
h1 span {
  color: white;
}
.header {
  background-color: #174143;
}
